asgiref            
beautifulsoup4     
bidict             
blinker           
certifi            
chardet            
charset-normalizer 
click              
colorama           
Django             
docopt             
Flask              
Flask-SocketIO     
Flask-WTF         
h11                
idna               
itsdangerous       
Jinja2             
Js2Py              
MarkupSafe         
packaging          
pillow             
pip                
pipwin             
psycopg2           
pyjsparser         
PyPDF2             
PyPrind            
pySmartDL          
python-engineio    
python-socketio    
reportlab          
requests           
simple-websocket   
six                
soupsieve          
sqlparse           
tzdata             
tzlocal            
urllib3            
Werkzeug           
wsproto            
WTForms  
gunicorn          